.hotel{
    text-align: center;
}

.sectionTitle {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 7rem;
    position: relative;
  }
  
  .sectionTitle::after {
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.4rem;
    background-color: red;
  }

.hotel {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem; 
    margin-bottom: 10rem;
  }

.hotel p{
    font-style: italic;
    color: #242424;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
  
  .hotelGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    place-items: center;
  }
  
  .hotelCard {
    width: 90%; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .hotelCard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem; /* 10px */
  }
  
  .stars {
    font-size: 1.6rem; /* 16px */
    margin-bottom: 0.5rem; /* 5px */
  }
  
  .hotelCard h3 {
    font-size: 1.8rem; /* 18px */
    margin-bottom: 0.5rem; /* 5px */
  }
  
  .hotelCard p {
    font-size: 1.4rem; /* 14px */
  }
  